<div class="modal fade" id="modalPaisFormulario" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingresar {{sujeto}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label class="mt-2">Nombre</label>    
            <input type="text" name="nombre" id="txtNombre" class="form-control" required />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" id="btnConfirmarCrear" class="btn btn-primary">Guardar {{sujeto}}</button>
        </div>
      </div>
    </div>
  </div>