{% extends "base.html" %}

{% block titulo %}Ingresar {{sujeto|capitalize}}{% endblock %}

{% block contenido %}
<h1 class="mt-2 p-2 text-center">Ingresar {{sujeto|capitalize}}</h1>
<hr />

<form action="/direcciones" method="POST">
    
    <label class="mt-2">Calle</label>    
    <input type="text" name="calle" class="form-control" required />

    <label class="mt-2">Número</label>    
    <input type="text" name="numero" class="form-control" required />

    <label class="mt-2">Comuna</label>    
    <select name="comuna_id" class="form-select" required>
        <option value="">Seleccione una comuna</option>
        {% for comuna in comunas %}
        <option value="{{comuna.id}}">{{comuna.nombre}}</option>
        {% endfor %}
    </select>

    <input
        type="submit"
        value="Crear"
        class="btn btn-primary mt-3"
    />
</form>

{% endblock %}

{% block mis_scripts %} 

<script>
</script>

{% endblock %}
